.formcontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  
  height: 22vw;
}

input {
  padding: 4px;
border-radius: 5px;
border: solid;
border-color: #dddddd;
margin: 2px;
}

select {
  padding: 4px;
  border-radius: 5px;
  border: solid;
  border-color: #dddddd;
}