#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}


.container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.formcontainer {
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: space-evenly;
  width: 50vw;
  height: 25vw;
}